.SignUpForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5em;
    width: 90%;
    max-width: 500px;
    background: white;
    overflow: hidden;
    box-shadow: 4px 4px 5px -2px rgba(0, 0, 0, .25);
    border-radius: 20px;
}

.SignUpTitle {
    justify-content: center;
    margin: 1em auto;
    font-size: 40px;
}

.SignUpTextField {
    margin: auto auto 2em;
    width: 50%;
    height: 2em;
    font-size: medium;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    outline: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.SignUpTextField:focus {
    border: none;
    border-bottom: 1px solid #FFBB33 ;
    border-radius: 0;
}

.SignUpSubmitButton {
    margin: 1em auto;
    width: 25%;
    height: 2.5em;
    border: none;
    border-radius: 8px;
    background: #FFBB33;
    font-size: medium;
    font-weight: bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.SignUpSubmitButton:hover {
    box-shadow: 4px 4px 5px -2px rgba(255, 187, 51, .8);
}

.SignUpSubmitButton:active {
    box-shadow: none;
}

.LogInLink {
    justify-content: center;
    margin: .5em auto 1em;
}

.SignUpLogInError {
    margin: 0 auto 0 0;
    flex-wrap: wrap;
    color: crimson;
}
